# General configuration
[eternalfest]
# Internal HTTP port to use for the server.
http_port = 50313
# Public address of the website. For development, it is recommend to use `localhost` with the right
# port. In production, this value is used to enable Nginx to act as a reverse proxy.
external_uri = "https://eternalfest.net"
# Main secret key. This key is used to derive all the secrets used to protect the tokens generated
# by the website and encrypted database columns.
secret = "{{ef_secret}}"
# Cookie used to protect session cookies
cookie_key = "{{ef_cookie_key}}"

# Postgres database configuration
[db]
# Database service host
host = "localhost"
# Database service port
port = 5432
# Database name
name = "eternalfestdb"
# Database user (role). In development, it is recommended to be a superuser to manage extensions.
user = "eternalfest"
# Password for the database user.
password = "{{ef_db_password}}"

[data]
root = "../../data/production/buffers"

[etwin]
uri = "https://eternal-twin.net/"
oauth_client_id = "eternalfest@clients"
oauth_client_secret = "{{ef_etwin_oauth_secret}}"
