[loader]
repo = "https://gitlab.com/eternaltwin/config.git"
dir = "norray"
ref = "main"

[state]
path = "./katald.sqlite"

[daemon]
key = ""

[vault]
sudo_password = ""
borgbase = "{{ katal_borgbase }}"
[vault.etwin.production]
borgbase_repo = "{{ katal_etwin_production_borgbase_repo }}"
db_admin_password = "{{ katal_etwin_production_db_admin_password }}"
db_main_password = "{{ katal_etwin_production_db_main_password }}"
db_read_password = "{{ katal_etwin_production_db_read_password }}"
secret_key = "{{ katal_etwin_production_secret_key }}"
brute_production_secret = "{{ katal_etwin_production_brute_production_secret }}"
brute_staging_secret = "{{ katal_etwin_production_brute_staging_secret }}"
dinorpg_production_secret = "{{ katal_etwin_production_dinorpg_production_secret }}"
dinorpg_staging_secret = "{{ katal_etwin_production_dinorpg_staging_secret }}"
directquiz_secret = "{{ katal_etwin_production_directquiz_secret }}"
emush_production_secret = "{{ katal_etwin_production_emush_production_secret }}"
emush_staging_secret = "{{ katal_etwin_production_emush_staging_secret }}"
epopotamo_production_secret = "{{ katal_etwin_production_epopotamo_production_secret }}"
epopotamo_staging_secret = "{{ katal_etwin_production_epopotamo_staging_secret }}"
eternalfest_production_secret = "{{ katal_etwin_production_eternalfest_production_secret }}"
eternalfest_staging_secret = "{{ katal_etwin_production_eternalfest_staging_secret }}"
kadokadeo_secret = "{{ katal_etwin_production_kadokadeo_secret }}"
kingdom_production_secret = "{{ katal_etwin_production_kingdom_production_secret }}"
kingdom_staging_secret = "{{ katal_etwin_production_kingdom_staging_secret }}"
mjrt_secret = "{{ katal_etwin_production_mjrt_secret }}"
myhordes_secret = "{{ katal_etwin_production_myhordes_secret }}"
neoparc_production_secret = "{{ katal_etwin_production_neoparc_production_secret }}"
neoparc_staging_secret = "{{ katal_etwin_production_neoparc_staging_secret }}"
wiki_secret = "{{ katal_etwin_production_wiki_secret }}"
twinoid_client_id = "{{ katal_etwin_production_twinoid_client_id }}"
twinoid_client_key = "{{ katal_etwin_production_twinoid_client_key }}"
[vault.etwin.staging]
borgbase_repo = "{{ katal_etwin_staging_borgbase_repo }}"
db_admin_password = "{{ katal_etwin_staging_db_admin_password }}"
db_main_password = "{{ katal_etwin_staging_db_main_password }}"
db_read_password = "{{ katal_etwin_staging_db_read_password }}"
secret_key = "{{ katal_etwin_staging_secret_key }}"
brute_production_secret = "{{ katal_etwin_staging_brute_production_secret }}"
brute_staging_secret = "{{ katal_etwin_staging_brute_staging_secret }}"
dinorpg_production_secret = "{{ katal_etwin_staging_dinorpg_production_secret }}"
dinorpg_staging_secret = "{{ katal_etwin_staging_dinorpg_staging_secret }}"
directquiz_secret = "{{ katal_etwin_staging_directquiz_secret }}"
emush_production_secret = "{{ katal_etwin_staging_emush_production_secret }}"
emush_staging_secret = "{{ katal_etwin_staging_emush_staging_secret }}"
epopotamo_production_secret = "{{ katal_etwin_staging_epopotamo_production_secret }}"
epopotamo_staging_secret = "{{ katal_etwin_staging_epopotamo_staging_secret }}"
eternalfest_production_secret = "{{ katal_etwin_staging_eternalfest_production_secret }}"
eternalfest_staging_secret = "{{ katal_etwin_staging_eternalfest_staging_secret }}"
kadokadeo_secret = "{{ katal_etwin_staging_kadokadeo_secret }}"
kingdom_production_secret = "{{ katal_etwin_staging_kingdom_production_secret }}"
kingdom_staging_secret = "{{ katal_etwin_staging_kingdom_staging_secret }}"
mjrt_secret = "{{ katal_etwin_staging_mjrt_secret }}"
myhordes_secret = "{{ katal_etwin_staging_myhordes_secret }}"
neoparc_production_secret = "{{ katal_etwin_staging_neoparc_production_secret }}"
neoparc_staging_secret = "{{ katal_etwin_staging_neoparc_staging_secret }}"
wiki_secret = "{{ katal_etwin_staging_wiki_secret }}"
twinoid_client_id = "{{ katal_etwin_staging_twinoid_client_id }}"
twinoid_client_key = "{{ katal_etwin_staging_twinoid_client_key }}"
[vault.eternalfest.staging]
borgbase_repo = "{{ katal_eternalfest_staging_borgbase_repo }}"
db_admin_password = "{{ katal_eternalfest_staging_db_admin_password }}"
db_main_password = "{{ katal_eternalfest_staging_db_main_password }}"
db_read_password = "{{ katal_eternalfest_staging_db_read_password }}"
secret_key = "{{ katal_eternalfest_staging_secret_key }}"
cookie_key = "{{ katal_eternalfest_staging_cookie_key }}"
etwin_client_secret = "{{ katal_etwin_production_eternalfest_staging_secret }}"
[vault.eternalfest.production]
borgbase_repo = "{{ katal_eternalfest_production_borgbase_repo }}"
db_admin_password = "{{ katal_eternalfest_production_db_admin_password }}"
db_main_password = "{{ katal_eternalfest_production_db_main_password }}"
db_read_password = "{{ katal_eternalfest_production_db_read_password }}"
secret_key = "{{ katal_eternalfest_production_secret_key }}"
cookie_key = "{{ katal_eternalfest_production_cookie_key }}"
etwin_client_secret = "{{ katal_etwin_production_eternalfest_production_secret }}"

[apps.eternalfest]
repository = "https://gitlab.com/eternalfest/eternalfest.git"
[apps.eternalfest.channels.staging]
domain = "staging.eternalfest.net"
https = {email = "contact@eternaltwin.org"}
main_port = 50318
fallback_port = 50319
release = "657135786dc7bbd7c37dc761f7bec14d5f62e349"
etwin_uri = "https://eternal-twin.net"
etwin_client_id = "eternalfest_staging@clients"
[apps.eternalfest.channels.production]
domain = "eternalfest.net"
https = {email = "contact@eternaltwin.org"}
main_port = 50313
fallback_port = 50314
release = "657135786dc7bbd7c37dc761f7bec14d5f62e349"
etwin_uri = "https://eternal-twin.net"
etwin_client_id = "eternalfest@clients"

[apps.etwin]
repository = "https://gitlab.com/eternaltwin/etwin.git"
[apps.etwin.channels.production]
domain = "eternal-twin.net"
https = {email = "contact@eternaltwin.org"}
main_port = 50320
backend_port = 50321
fallback_port = 50322
release = "3c59d1fead3baef6ba4e5b2b6c71977ec1cf15e3"
[apps.etwin.channels.staging]
domain = "staging.eternal-twin.net"
https = {email = "contact@eternaltwin.org"}
main_port = 50325
backend_port = 50326
fallback_port = 50327
release = "3c59d1fead3baef6ba4e5b2b6c71977ec1cf15e3"
